@model IEnumerable<SmartForm.Domain.FormTemplate>

@{
    ViewBag.Title = "Create";
}

<style>
    .fa-wpforms {
        font-size:100px;
        margin:auto;
    }
        .fa-wpforms:hover {
            cursor:pointer;
        }
    .modal-header,.modal-footer{
        background-color:#c3c3c3;
    }
    .formicon {
        margin:auto;
    }
</style>
<div class="card ml-3 mt-2">
    <div class="card-header">
        <span class="card-header-text">Templates</span>
    </div>
    <div class="card-body">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <div class="card-header text-center">
                            <span class="card-header-text">@item.Name</span>
                        </div>
                        <div class="card-body formicon">
                           @* <button data-id="@item.FormTemplateId" class="getForm" data-toggle="modal" data-target="#exampleModal">Form</button>*@
                            <i class="fa fa-wpforms getForm" title="Launch Form" aria-hidden="true" data-id="@item.FormTemplateId" data-name="@item.Name" data-toggle="modal" data-target="#exampleModal"></i>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="formBody">
            </div>
            <div class="modal-footer p-1">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-secondary" id="btnSave">Save</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Forms/formcreate.js"></script>
<script>




    //$("#btnSave").click(function () {
    //    alert("saved");
    //})
</script>